.mt-10{
    margin-top:10px !important;
}
.mb-10{
    margin-bottom:10px !important;
}
.mt-20{
    margin-top:20px !important;
}
.mb-20{
    margin-bottom:20px !important;
}
.box.with-header > .title > span {
  background: #005D84 !important;
  color: #ffffff !important;
}

.box.with-header > .title > span:after,.box.with-header > .title > span:before {
  border: none !important;
}

.two-col > div:nth-last-child(1) {
    display:none !important;
}

.sidebar a {
    color: #005D84 !important;
}

.contents a {
    color: #005D84 !important;
    font-weight: 500;
}
.tagcloud a {
    border: none !important;
    background: #f7f7f7 !important;
    color: #005D84 !important;
}
.tagcloud a:hover {
    background: #eee !important;
}
.caption a {
    color: #ffffff !important;
    font-weight: 500;
}
.post-categories a {
    color: #005D84 !important;
}
.category > a {
    background-color:#f7f7f7;
    padding: 5px 10px;
}
.post-entry .meta h1 {
    margin-top: 15px !important;
}
.slick-slide {
    height:530px !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff !important;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
